@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Fira+Sans:ital@1&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Text&family=Fira+Sans:ital@1&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/Assets/Images/header/band-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.logo {
  width: 56px;
  height: 56px;
  margin-left: 15px;
}

.one {
  background-color: #f5f8ff;
  width: 100%;
  height: 950px;
  background-image: url("/Assets/Images/one/BOX.png");
  background-repeat: no-repeat;
  background-position: center bottom -150px;
  background-size: 380px;
}

.looker {
  width: 100%;
  color: #000000;
}
.looker .look {
  width: 307px;
  height: 493px;
  margin-left: 38px;
  margin-right: 30px;
  padding-top: 43px;
}
.looker .look .title {
  height: 224px;
  font-size: 48px;
  line-height: 56px;
  font-family: "DM Serif Text";
  margin-bottom: 28px;
}
.looker .look .upbox {
  width: 100%;
  height: 166px;
  font-family: "DM Sans";
  font-size: 18px;
  margin-bottom: 28px;
}
.looker .look .sig {
  width: 183px;
  height: 61px;
  background-color: #f5f8ff;
  border-color: #ef8094;
  border-width: 5px;
  border-style: solid;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 12%;
}

.two .pick {
  margin-top: 100px;
  margin-bottom: 85px;
}
.two .pick .title {
  margin-bottom: 47px;
}
.two .pick .title span {
  font-size: 48px;
  line-height: 56px;
  font-family: "DM serif Text";
}
.two .pick .plan {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 12%;
}
.two .pick .pays {
  height: 396px;
}
.two .pick .pays .pay-card {
  border-style: solid;
  border-color: #c4c4c4;
  width: 348.33px;
  height: 188.39px;
  margin-bottom: 19px;
  background-image: url("/Assets/Images/two/lines-blue.png");
}
.two .pick .pays .pay-card .mon {
  font-size: 30px;
  font-family: "DM serif Text";
  padding-top: 27.25px;
}
.two .pick .pays .pay-card .price {
  letter-spacing: 12%;
  font-size: 30px;
  font-family: "DM Sans";
  margin-bottom: 5px;
}
.two .pick .pays .pay-card .btn {
  width: 179px;
  height: 40px;
  background-color: #ef8094;
  color: #ffffff;
}
.two .pick .pays .pay-card-pink {
  border-style: solid;
  border-color: #c4c4c4;
  width: 348.33px;
  height: 188.39px;
  margin-bottom: 19px;
  background-image: url("/Assets/Images/two/lines-pink.png");
}
.two .pick .pays .pay-card-pink .mon {
  font-size: 30px;
  font-family: "DM serif Text";
  padding-top: 27.25px;
}
.two .pick .pays .pay-card-pink .price {
  letter-spacing: 12%;
  font-size: 30px;
  font-family: "DM Sans";
  margin-bottom: 5px;
}
.two .pick .pays .pay-card-pink .btn {
  width: 179px;
  height: 40px;
  background-color: #ef8094;
  color: #ffffff;
}

.three .title {
  margin-bottom: 47px;
}
.three .title span {
  font-size: 48px;
  line-height: 56px;
  font-family: "DM serif Text";
}
.three .set-card {
  width: 350px;
  height: 629.92px;
  margin-bottom: 15px;
}
.three .set-card .card-img {
  width: 350px;
  height: 413px;
  margin-bottom: 36px;
  background-image: url(/Assets/Images/three/Mask\ Group.png), url(/Assets/Images/three/art1.png);
  background-repeat: no-repeat;
  background-size: 310px, 200px;
  background-position: right 20px bottom, left top;
}
.three .set-card .card-img img {
  margin-top: 55px;
  margin-left: 45px;
}
.three .set-card .subtitle-container {
  margin-left: 30px;
}
.three .set-card .subtitle-container .subtitle {
  width: 306px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1%;
  font-family: "DM Serif Text";
  margin-bottom: 15px;
}
.three .set-card .subtitle-container .once {
  font-size: 18px;
  letter-spacing: 1%;
  line-height: 23.44px;
}

.four {
  margin-top: 5px;
}
.four .card-container {
  width: 372px;
  height: 747px;
  background-image: url(/Assets/Images/four/grapefruit.png), url(/Assets/Images/four/art2.png), url(/Assets/Images/four/2.png);
  background-repeat: no-repeat;
  background-size: 300px, 150px, 80px;
  background-position: bottom 325px left 26px, bottom 350px left, top 55px left 38px;
}
.four .card-container .text-container {
  margin-left: 30px;
  margin-top: 440px;
}
.four .card-container .text-container .subtitle {
  width: 306px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1%;
  font-family: "DM Serif Text";
  margin-bottom: 15px;
}
.four .card-container .text-container .once {
  width: 294px;
  font-size: 18px;
  letter-spacing: 1%;
  line-height: 23.44px;
  text-align: justify;
}

@media only screen and (min-width: 550px) {
  body {
    background-image: url("/Assets/Images/header/band.png");
  }
  header {
    height: 70px;
  }
  header .logo {
    width: 37px;
    height: 37px;
  }
  header .nav-options {
    width: 100%;
    height: 37px;
    margin-left: 89px;
  }
  header .nav-options li {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 16%;
    line-height: 13.02%;
  }
  header .nav-options .log {
    width: 105px;
    height: 32px;
    background-color: #f5f8ff;
    font-size: 10px;
    border-style: solid;
  }
  .one {
    height: 554px;
    background-image: url("/Assets/Images/one/BOX-tablet.png");
    background-position: right bottom -200px;
    background-size: 700px;
  }
  .three .title {
    margin-bottom: 47px;
  }
  .three .title span {
    font-size: 48px;
    line-height: 56px;
    font-family: "DM serif Text";
  }
  .three .set-card {
    width: 100%;
    height: 315.42px;
  }
  .three .set-card .card-img {
    width: 327px;
    height: 332px;
    margin-bottom: 36px;
    background-image: url(/Assets/Images/three/Mask\ Group.png), url(/Assets/Images/three/art2.png);
    background-repeat: no-repeat;
    background-size: 270px, 200px;
    background-position: right bottom, left top;
  }
  .three .set-card .card-img img {
    margin-top: 55px;
    margin-left: 45px;
  }
  .three .set-card .subtitle-container {
    margin-left: 50px;
    width: 310px;
    height: 172px;
  }
  .three .set-card .subtitle-container .subtitle {
    width: 306px;
    font-size: 32px;
    line-height: 36px;
    font-family: "DM Serif Text";
    margin-bottom: 15px;
  }
  .three .set-card .subtitle-container .once {
    font-size: 14px;
    letter-spacing: 1%;
    line-height: 18.23px;
  }
  .two .pick {
    margin-top: 100px;
    margin-bottom: 87px;
  }
  .two .pick .plan {
    margin-top: 22.42px;
    font-size: 14px;
    letter-spacing: 12%;
  }
  .two .pick .pays {
    height: -moz-fit-content;
    height: fit-content;
    width: 675px;
  }
  .two .pick .pays .pay-card {
    border-style: solid;
    border-color: #c4c4c4;
    width: 305.61px;
    height: 154.67px;
    margin-bottom: 19px;
    background-image: url("/Assets/Images/two/lines-blue.png");
  }
  .two .pick .pays .pay-card .mon {
    font-size: 20px;
    font-family: "DM serif Text";
    padding-top: 27.25px;
  }
  .two .pick .pays .pay-card .price {
    letter-spacing: 12%;
    font-size: 24px;
    font-family: "DM Sans";
    margin-bottom: 5px;
  }
  .two .pick .pays .pay-card .btn {
    width: 106.3px;
    height: 32.42px;
    background-color: #ef8094;
    color: #ffffff;
    font-size: 8px;
  }
  .two .pick .pays .pay-card-pink {
    border-style: solid;
    border-color: #c4c4c4;
    width: 305.61px;
    height: 154.67px;
    margin-bottom: 19px;
    background-image: url("/Assets/Images/two/lines-pink.png");
  }
  .two .pick .pays .pay-card-pink .mon {
    font-size: 20px;
    font-family: "DM serif Text";
    padding-top: 27.25px;
  }
  .two .pick .pays .pay-card-pink .price {
    letter-spacing: 12%;
    font-size: 24px;
    font-family: "DM Sans";
    margin-bottom: 5px;
  }
  .two .pick .pays .pay-card-pink .btn {
    width: 106.3px;
    height: 32.42px;
    background-color: #ef8094;
    color: #ffffff;
    font-size: 8px;
  }
  .looker {
    width: 100%;
    color: #000000;
  }
  .looker .look {
    width: 370px;
    height: 276px;
    margin-left: 40px;
    padding-top: 18px;
  }
  .looker .look .title {
    height: 224px;
    font-size: 42px;
    line-height: 48px;
    font-family: "DM Serif Text";
    margin-bottom: 18px;
  }
  .looker .look .upbox {
    width: 360px;
    height: 96px;
    font-family: "DM Sans";
    font-size: 14px;
    margin-bottom: 18px;
    text-align: justify;
  }
  .looker .look .sig {
    width: 183px;
    height: 61px;
    background-color: #f5f8ff;
    border-color: #ef8094;
    border-width: 5px;
    border-style: solid;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 12%;
  }
}
@media only screen and (min-width: 550px) and (min-width: 1000px) {
  body {
    background-image: url("/Assets/Images/header/band.png");
    background-size: 2000px;
  }
  header {
    height: 90px;
  }
  header .logo {
    width: 56px;
    height: 56px;
  }
  header .nav-options {
    width: 100%;
    height: 37px;
    margin-left: 265px;
  }
  header .nav-options li {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 16%;
    line-height: 18.23px;
  }
  header .nav-options .log {
    width: 105px;
    height: 32px;
    background-color: #f5f8ff;
    font-size: 14px;
  }
  .one {
    height: 521px;
    background-image: url("/Assets/Images/one/new.png"), url("/Assets/Images/two/Marker.png");
    background-position: right -50px bottom -275px, right 50px bottom 100px;
    background-size: 1000px, 280px;
  }
  .two .pick {
    margin-top: 100px;
    margin-bottom: 90px;
  }
  .two .pick .plan {
    margin-top: 22.42px;
    font-size: 14px;
    letter-spacing: 12%;
  }
  .two .pick .pays {
    height: -moz-fit-content;
    height: fit-content;
    width: 1270px;
  }
  .two .pick .pays .pay-card {
    border-style: solid;
    border-color: #c4c4c4;
    width: 575px;
    height: 291px;
    margin-bottom: 19px;
    margin-right: 20px;
    background-image: url("/Assets/Images/two/line-big-blue.png");
  }
  .two .pick .pays .pay-card .mon {
    font-size: 36px;
    font-family: "DM serif Text";
    padding-top: 27.25px;
  }
  .two .pick .pays .pay-card .price {
    letter-spacing: 12%;
    font-size: 44px;
    font-family: "DM Sans";
    margin-bottom: 5px;
  }
  .two .pick .pays .pay-card .btn {
    width: 200px;
    height: 61px;
    background-color: #ef8094;
    color: #ffffff;
    font-size: 8px;
    font-weight: 700;
    font-size: 16px;
  }
  .two .pick .pays .pay-card-pink {
    border-style: solid;
    border-color: #c4c4c4;
    width: 575px;
    height: 291px;
    margin-bottom: 19px;
    background-image: url("/Assets/Images/two/line-big-pink.png");
  }
  .two .pick .pays .pay-card-pink .mon {
    font-size: 36px;
    font-family: "DM serif Text";
    padding-top: 27.25px;
  }
  .two .pick .pays .pay-card-pink .price {
    letter-spacing: 12%;
    font-size: 44px;
    font-family: "DM Sans";
    margin-bottom: 5px;
  }
  .two .pick .pays .pay-card-pink .btn {
    width: 200px;
    height: 61px;
    background-color: #ef8094;
    color: #ffffff;
    font-size: 8px;
    font-weight: 700;
    font-size: 16px;
  }
  .three .set-card {
    width: 965px;
    height: 405px;
    margin-left: 207px;
  }
  .three .set-card .card-img {
    width: 417px;
    height: 417px;
    margin-bottom: 36px;
    background-image: url(/Assets/Images/three/Mask\ Group.png), url(/Assets/Images/three/art2.png);
    background-repeat: no-repeat;
    background-size: 330px, 290px;
    background-position: right bottom, left top;
  }
  .three .set-card .card-img img {
    margin-top: 55px;
    margin-left: 100px;
  }
  .three .set-card .subtitle-container {
    margin-left: 50px;
    width: 385px;
    height: 172px;
    margin-top: 65px;
  }
  .three .set-card .subtitle-container .subtitle {
    width: 306px;
    font-size: 36px;
    line-height: 36px;
    font-family: "DM Serif Text";
    margin-bottom: 15px;
  }
  .three .set-card .subtitle-container .once {
    font-size: 18px;
    letter-spacing: 1%;
    line-height: 18.23px;
  }
  .looker {
    width: 100%;
    color: #000000;
  }
  .looker .look {
    width: 511px;
    height: 318px;
    margin-left: 111px;
    padding-top: 108px;
  }
  .looker .look .title {
    height: 224px;
    font-size: 48px;
    line-height: 56px;
    font-family: "DM Serif Text";
    margin-bottom: 19px;
  }
  .looker .look .upbox {
    width: 453px;
    height: 96px;
    font-family: "DM Sans";
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
  }
  .looker .look .sig {
    width: 183px;
    height: 61px;
    background-color: #f5f8ff;
    border-color: #ef8094;
    border-width: 5px;
    border-style: solid;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 12%;
  }
}/*# sourceMappingURL=style.css.map */